.home {
  .news {
    padding-top: 1em;
    padding-bottom: 4em;

    @include forTablet {
      padding-bottom: 5em;
    }

    .list {
      margin-top: 4em;
      display: flex;
      gap: 1em;

      @include forTablet {
        margin-top: 5em;
      }
    }

    &__button {
      width: auto;
      margin-top: 2.4em;

      @include forMobile {
        margin-top: 1.2em;
      }
      &--margins {
        margin: 2.4em VW(16) 0;

        @include forTablet {
          margin: 2.4em VW(16, $tablet) 0;
        }

        @include forMobile {
          margin: 1em VW(12, $mobile) 0;
        }
      }
    }

    &__arrows {
      display: flex;
      margin: 2.3em 0 1em;

      @include forTablet {
        margin: 3em 0 0.7em;
      }
    }

    &__arrow {
      width: 2.5em;
      height: 2.5em;
      padding: 0.7em;
      background-color: $c-black;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      @include hover {
        svg {
          fill: $yellow-100;
        }
      }

      svg {
        width: 100%;
        height: 100%;
        transition: fill 0.3s ease;
        fill: $c-white;

        path {
          fill: inherit;
        }
      }

      &--prev {
        rotate: 180deg;
      }

      &[disabled] {
        pointer-events: none;
        svg {
          fill: $g-70 !important;
        }
      }
    }

    .splide {
      &__track {
        padding-right: VW(16) !important;
        padding-left: VW(16) !important;

        @include forTablet {
          padding-right: VW(16, $tablet) !important;
          padding-left: VW(16, $tablet) !important;
        }

        @include forMobile {
          padding-right: VW(12, $mobile) !important;
          padding-left: VW(12, $mobile) !important;
        }
      }
    }
  }
}
