.about {
  .important-to-us {
    background-color: $sand-100;
    color: $c-white;

    display: flex;
    flex-direction: column;
    gap: 5.3em;

    padding-top: 1em;
    padding-bottom: 3em;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 2.4em;

      @include forTablet {
        gap: 3.2em;
      }

      @include forMobile {
        gap: 2.4em;
      }

      .item {
        display: flex;
        gap: 1em;
        padding-bottom: 1em;
        border-bottom: 0.1em solid $c-white;

        @include forMobile {
          flex-direction: column;
          padding-right: 1em;
        }

        .icon {
          width: 1.8em;
          height: 1.8em;
          margin-top: 0.15em;

          @include forMobile {
            width: 2em;
            height: 2em;
            margin-top: 0;
          }
        }

        h2 {
          @include forDesktop {
            width: 80%;
          }
        }
      }
    }

    &__text {
      width: 50%;

      @include forTablet {
        width: 70%;
      }

      @include forMobile {
        width: 90%;
      }
    }
  }
}
