.blog {
  .hero {
    padding-top: 10em;
    position: relative;

    &__title {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }

    .scroll-section {
      position: absolute;
      bottom: 0%;
      left: 50%;
      right: 50%;
      transform: translateY(100%);
      pointer-events: none;
    }
  }

  .filters {
    margin-top: 2.6em;
    // border-bottom: 0.2em solid $c-white;

    @include forMobile {
      overflow: scroll;
      background-color: $g-30;
      padding-top: 0.5em;
      position: sticky;
      top: 3em;
      z-index: 10;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-wrapper {
      display: flex;
      width: max-content;
    }

    .filter {
      padding: 0.3em 0.45em;
      background-color: $g-70;
      color: $c-white;
      text-wrap: nowrap;
      height: fit-content;
      width: max-content;
      position: relative;
      z-index: 1;
      overflow: hidden;

      transition: color 0.5s ease;

      &::after {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: $blue-100;
        transform-origin: bottom center;
        transition: transform 0.5s $ease-out-expo;
        transform: scaleY(0);
      }

      @include hover {
        &::after {
          transform: scaleY(1);
        }
      }

      &--active {
        &::after {
          transform: scaleY(1);
        }
      }
    }
  }
}
