  .menu {
    position: fixed;
    top: VW(55, $mobile);
    left: 0;
    right: 0;
    padding: VW(20, $mobile) VW(12, $mobile) VW(12, $mobile);
    background-color: $g-30;

    z-index: 9;

    @include forTablet {
      top: VW(50, $tablet);
      padding: VW(20, $tablet) VW(16, $tablet);
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: VW(20, $mobile);

      @include forTablet {
        gap: VW(24, $tablet);
      }
    }

    &-background {
      position: fixed;
      inset: VW(55, $mobile) 0 0;
      z-index: -10;
      background-color: #52525280;
    }
  }