@import "./utils/typography";
@import "./utils/mixins";
@import "./utils/variables";
@import "./utils/responsive-data";

.body {
  @extend %body-text;
  background-color: $g-30;
  color: $c-black;
  overflow-x: hidden;
  opacity: 0;
  animation: bodyPresence 1s $ease-in-out-expo forwards;
  ::selection {
    color: $blue-100;
    background: $g-70;
    mix-blend-mode: difference;
  }
}

@keyframes bodyPresence {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  
}

// #region Scrollbar

.html {
  scrollbar-width: none; /* Firefox 64+ */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-moz-scrollbar {
    display: none; /* Firefox до версії 64 */
  }
}

@supports (-ms-overflow-style: none) {
  .html {
    -ms-overflow-style: none;
  }
}

@supports (-ms-overflow-style: none) {
  .html {
    overflow: -ms-autohiding-scrollbar;
  }
}
// #endregion Scrollbar

.container {
  padding-right: VW(16);
  padding-left: VW(16);

  @include forTablet {
    padding-right: VW(16, $tablet);
    padding-left: VW(16, $tablet);
  }

  @include forMobile {
    padding-right: VW(12, $mobile);
    padding-left: VW(12, $mobile);
  }
}

.shadow {
  color: $g-70;
}

.main {
  &--loading {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.splide {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
