.header {
  background-color: $g-30;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  padding: VW(16);

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include forMobile {
    padding: VW(12, $mobile);
  }

  &__logo {
    width: VW(230);
    height: VW(22);
  }

  &__center-logo {
    width: VW(41);
    height: VW(36);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    mix-blend-mode: darken;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: VW(16);
  }

  &__link {
    position: relative;

    @include hover {
      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
    
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0%;
      width: 100%;
      height: min(VW(1), 1px);
      background-color: $c-black;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .5s $ease-in-out-circ;
    }
  }

  .mobile-logo {
    display: flex;
    gap: VW(6, $mobile);
    align-items: center;
    mix-blend-mode: darken;

    &__video {
      width: VW(41, $mobile);
      height: VW(36, $mobile);
    }

    &__logo {
      width: VW(86, $mobile);
      height: VW(32, $mobile);
    }
  }
}
