.header {
  background-color: $g-30;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  padding: VW(16);

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include forTablet {
    padding: VW(16, $tablet);
  }

  @include forMobile {
    padding: VW(12, $mobile);
  }

  .logos-wrapper {
    display: flex;
    align-items: center;
    gap: .5em;
  }

  &__logo {
    width: VW(230);
    height: VW(22);

    @include forTablet {
      width: VW(86, $tablet);
      height: VW(32, $tablet);
    }

    @include forMobile {
      width: VW(86, $mobile);
      height: VW(32, $mobile);
    }
  }

  &__center-logo {
    width: 2.3em;
    height: 2em;
    mix-blend-mode: darken;

    @include forDesktop {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: VW(16);
  }

  &__link {
    position: relative;

    @include hover {
      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0%;
      width: 100%;
      height: min(VW(1), 1px);
      background-color: $c-black;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.5s $ease-in-out-circ;
    }
  }

  &__menu-button {
    width: 2.4em;
    height: 2.4em;
  }
}
