.home {
  .hero {
    height: 100svh;
    position: relative;
    color: $c-white;

    overflow: hidden;

    @include forTablet {
      height: auto;
      aspect-ratio: 1/1;
    }

    @include forMobile {
      height: auto;
      aspect-ratio: 9/15;
    }

    &__background {
      @include forMobile {
        object-position: 60%;
      }

      &-wrapper {
        position: absolute;
        inset: 0;
        z-index: -1;
        overflow: hidden;
      }
    }

    .title {
      margin-bottom: VW(14);

      @include forMobile {
        margin-bottom: VW(16, $mobile);
        padding-left: 0.6em;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: -5%;
          bottom: -5%;
          width: 0.6em;
          border-radius: inherit;
          background: linear-gradient(
            to bottom,
            $blue-100 0%,
            $blue-100 50%,
            $yellow-100 50%,
            $yellow-100 100%
          );
          z-index: 1;
        }
      }

      &-wrapper {
        width: fit-content;
        display: inline-flex;

        position: relative;
        // z-index: 2;
        padding: 0.1em 0.2em;

        @include forMobile {
          padding: 0.3em 0.4em 0em 0.4em;
        }

        .super-text {
          line-height: 1;
          position: relative;
          z-index: 2;

          @include forMobile {
            line-height: 1.1;
          }
        }

        .background {
          position: absolute;
          top: -15%;
          left: 0;
          width: 100%;
          height: 130%;
          background-color: $brown-100;
          z-index: 0;
        }
      }

      &-line {
        display: flex;
        flex-wrap: wrap;

        &:nth-of-type(1) {
          .title-wrapper:nth-last-of-type(1) {
            @include forMobile {
              padding: 0.3em 1.05em 0em 0.4em;
            }
          }
        }

        .flag {
          width: VW(35);
          height: VW(60);

          display: flex;
          flex-direction: column;
          position: relative;
          z-index: 2;
          margin: 0 0.5em 0 0.8em;

          @include forTablet {
            width: VW(35, $tablet);
            height: VW(60, $tablet);
          }

          @include forMobile {
            display: none;
          }

          &-element {
            width: 100%;
            height: 50%;
          }

          &-top {
            background-color: $blue-100;
          }

          &-bottom {
            background-color: $yellow-100;
          }
        }
      }
    }

    &__text {
      width: 50%;

      @include forTablet {
        width: 70%;
      }

      @include forMobile {
        width: 100%;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 1.2em;

      padding: VW(80) VW(16) 0;

      @include forTablet {
        padding: VW(120, $tablet) VW(16, $tablet) 0;
      }

      @include forMobile {
        padding: VW(90, $mobile) VW(12, $mobile) 0;
        transform: none !important;
      }
    }

    .button {
      margin-top: 0.6em;
    }

    &__showreel {
      border: 0.1em solid $g-100;

      &--hidden {
        width: VW(340);
        height: VW(190);
        position: absolute;
        bottom: VW(16);
        right: VW(16);
        cursor: pointer;

        @include forTablet {
          width: VW(340, $tablet);
          height: VW(190, $tablet);
          bottom: VW(16, $tablet);
          right: VW(16, $tablet);
        }

        @include forMobile {
          width: VW(248, $mobile);
          height: VW(140, $mobile);
          bottom: VW(12, $mobile);
          left: VW(12, $mobile);
          right: auto;
        }

        @include hover {
          .hero__showreel-button {
            filter: invert(1);
          }
        }

        .hero__showreel-button {
          scale: 0.9;
          transform-origin: top right;
        }
      }

      &--visible {
        width: VW(1030);
        position: relative;
      }

      &-button {
        position: absolute;
        top: 0;
        right: 0;
        width: VW(44);
        height: VW(44);
        background-color: $c-white;
        z-index: 4;
        cursor: pointer;

        transition: filter 0.3s ease;

        @include hover {
          filter: invert(1);
        }

        @include forMobile {
          width: VW(34, $mobile);
          height: VW(34, $mobile);
        }

        svg {
          width: 100%;
          height: 100%;
          fill: $c-black;
        }
      }

      .video-wrapper {
        width: 100%;
        height: 100%;

        video {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }

      &-wrapper {
        position: fixed;
        // inset: 10vw;
        inset: 0;
        z-index: 16;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: -1;

        @include forMobile {
          inset: 0;
        }
      }
    }
  }
}
