.blog-list {
  margin-top: 2.5em;
  background-color: $c-white;
  padding-top: 0.8em;
  padding-bottom: 0.8em;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3em 0.8em;

    @include forMobile {
      flex-direction: column;
      gap: 3em;
    }

    &--default {
      .blog-list__link-wrapper {
        &:nth-of-type(1) {
          display: none;
        }
        &:nth-of-type(2) {
          display: none;
        }
        &:nth-of-type(3) {
          display: none;
        }
      }
    }
  }

  &__link-wrapper {
    width: calc(33% - 0.4em);

    @include forTablet {
      width: calc(50% - 0.4em);

      &:nth-of-type(3) {
        display: block;
      }
    }

    @include forMobile {
      width: 100%;

      &:nth-of-type(2) {
        display: block;
      }

      &:nth-of-type(3) {
        display: block;
      }
    }

    .blog-link {
      width: 100%;
    }
  }

  &__load-more {
    width: 100%;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
