.contact {
  margin-top: 1em;
  .top {
    @include forMobile {
      width: 90%;

      h1 {
        width: 100%;
      }
    }
  }

  .form {
    &__field {
      .file-input-wrapper {
        position: relative;
        width: 100%;
      }

      .file-input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        overflow: hidden;
      }

      .file-input-label {
        @extend %h3;
        width: calc(100% - 0.3em);
        padding: 0.3em 0em 0.3em 0.3em;
        background-color: $g-80;
        color: $g-70;
        border: none;
        outline: none;
        line-height: 1.2;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition:
          background-color 0.3s ease,
          opacity 0.3s ease;

        @include forTablet {
          padding: 0.5em 0em 0.5em 0.3em;
        }

        @include forMobile {
          width: calc(100% - 0.4em);
          padding: 0.6em 0em 0.6em 0.4em;
        }

        @include hover {
          background-color: $g-75;
        }

        &:focus {
          background-color: $g-70;
          opacity: 1 !important;
          color: $c-white !important;
        }

        &--active {
          color: $c-white !important;
        }

        &--error {
          background-color: $red-10;
          color: $red-80;
          border-color: $red-80;

          .file-input-button {
            background-color: $red-10;
            border-left: 1px solid #000;
          }
        }
      }

      .file-input-text {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .file-input-button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background: $g-70;
        color: $c-white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.5em;
      }
    }
  }
}
